@font-face {
  src: url(../assets/fonts/MontserratAlternates-Regular.ttf);
  font-family: mserrat_a_r;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Regular.otf);
  font-family: mserrat_r;
}

@font-face {
  src: url(../assets/fonts/ONEDAY.ttf);
  font-family: oday;
}

@font-face {
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: rbt;
}

@font-face {
  src: url(../assets/fonts/Roboto-Thin.ttf);
  font-family: rbt-thin;
}

:root {
  --some-brown: #523407;
  --some-blue: #2c0752;
  --primary-color: #003366;
  --primary-color: #8a2be2;
  --body-color: #f9f9f9;
  --primary-border: #444;
  --primary-black: #000;
  --main-font: rbt;
  --footer-color: #eee;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--body-color);
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

ul li {
  margin: 0;
  margin-bottom: 20px;
}

ul li i {
  margin-right: 10px;
  color: var(--primary-color);
}

.intro p {
  line-height: 20px;
  padding: 20px;
  border-radius: 5px;
  min-height: 100px;
  height: 150px;
  overflow-y: hidden;
  margin: auto;
  color: wheat;
}

a {
  text-decoration: none;
  color: var(--primary-black);
}

/*  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
/*  */

/* HEADER */

header {
  position: sticky;
  top: 0;
  background-color: var(--body-color);
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 1px 2px #aaa;
  z-index: 10;
}

.header {
  height: 50px;
  display: flex;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.header * {
  z-index: 10;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.logo .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 100%;
}

.logo a span {
  font-family: oday;
  color: var(--primary-color);
}

.logo .logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logo-text span {
  /* font-weight: bold; */
  text-transform: uppercase;
  color: #666;
  font-size: 24px;
}

.logo-text span:nth-child(2) {
  font-weight: normal;
}

.header nav a {
  margin: 10px 2px;
  color: var(--primary-color);
  box-shadow: 0 0 2px #aaa;
  padding: 5px 20px;
  border-radius: 2px;
}

.header nav a i {
  margin-right: 5px;
}

/* MAIN */
section {
  /* height: 75vh; */
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > .about,
.exp,
.fak {
  width: 70%;
  padding: 10px 0;
  position: relative;
}

.section-intro {
  padding: 10px;
  margin: 0 auto;
  border: none;
  background-repeat: no-repeat;
  background: url(../assets/img/always-grey.png);
  background-color: #8a2be2;
  border-bottom-left-radius: 200px;
}

.intro {
  margin: auto;
  height: 100vh;
  color: #c0c0c0;
  border-radius: var(--radius-1);
  padding: 5px;
  animation: anmIntro 2s 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: url(../assets/img/intro.svg) no-repeat center 75% / contain;
}

.intro * {
  z-index: 2;
  pointer-events: none;
  user-select: none;
}

.intro-left-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.intro-left {
  width: 700px;
}

@keyframes anmIntro {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.intro .greetings strong {
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: rbt-thin;
  opacity: 0;
  animation: anmText 1s 2s ease-in forwards;
  color: #eee;
}

@keyframes anmText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro h1 {
  margin: 0;
  color: #fff;
}

.intro .name h1 {
  display: none;
}

.do {
  color: #ddd;
  display: none;
}

.photo {
  margin: 10px auto;
  width: fit-content;
}

.intro .pic {
  padding: 12px 10px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  background-image: url(../assets/img/Pictures_Private__20220321_153551.png);
  background-blend-mode: luminosity;
  border-radius: var(--radius-1);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  display: none;
}

.intro .arrow {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ab;
  z-index: 10;
}

.intro .arrow i {
  font-size: 16px;
  animation: anmArrow 3s infinite;
  color: var(--primary-color);
}

@keyframes anmArrow {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-3.5px);
  }
  100% {
    transform: translateY(0);
  }
}

#products {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 40px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  height: 320px;
  border: 1px solid #f8f8f8;
}

#products .product p.title {
  color: var(--primary-color);
}

#products .product p.desc {
  color: #666;
}

/* About */
.about {
  display: flex;
  justify-content: space-between;
}

.about .profile-pic {
  width: 200px;
  height: 200px;
  border: 1px solid var(--primary-border);
  border-radius: var(--radius-1);
}

@keyframes lft {
  0% {
    transform: skewX(20deg);
  }
  50% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
.gotop {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 3;
  transition: 0.5s all ease;
  box-shadow: 0 0 1px 2px #fefefe;
  transform: scale(0);
  color: #fff;
}

.gotop i {
  font-size: 16px;
}

/* FOOTER */

footer {
  background-color: var(--footer-color);
}

footer .footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer .title strong {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -18px;
  font-size: 16px;
  margin: auto;
  background: var(--body-color);
  padding: 10px;
  width: 100px;
  text-align: center;
  color: var(--primary-border);
  display: none;
}

.contact-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.contact {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

.footer .contact a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  z-index: 2;
  color: #888;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 0 2px #aaa;
}

.contact a:hover {
  transform: scale(1.1);
}

.footer .contact i {
  font-size: 16px;
  color: var(--primary-color);
}

.footer-bottom {
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid #ccc; */
}

.footer-bottom p {
  color: #444;
  display: flex;
  align-items: center;
}

.footer-bottom p img {
  margin-right: 10px;
}

#text-subscribe {
  text-align: center;
  color: #777;
  font-family: rbt-thin;
  font-size: 18px;
  text-transform: auto;
  display: block;
  padding-top: 20px;
}

.footer-middle {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #e8e8e8;
}

.footer-middle > div {
  margin: 10px 70px;
}

.footer-middle a i {
  color: wheat;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 600px) {
  /* HEADER */

  .header {
    flex-direction: column;
  }

  .header nav {
    margin-top: 10px;
    display: none;
  }

  .intro,
  .about,
  /* .exp, */
  .fak {
    width: 100%;
  }

  .contact {
    padding-left: 10px;
  }

  #section-about,
  #section-products {
    height: unset;
  }

  .intro {
    padding-left: 70px;
  }

  .intro .name h1 {
    font-size: 32px;
  }

  .intro h1 {
    font-size: 18px;
  }

  section:nth-child(even),
  section:nth-child(odd) {
    padding: 10px;
    background-size: 300px;
  }

  .about {
    flex-direction: column;
  }

  .contact-btn {
    width: fit-content;
  }

  .gotop {
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 20px auto;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
  }

  .footer-middle {
    flex-direction: column;
  }

  .footer-middle > div {
    margin: 10px;
  }
}

/* End-responsive */

button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 5;
}

button:hover {
  background: #000;
  color: var(--primary-color);
}

button i {
  font-size: 12px;
}

/* General */
button {
  cursor: pointer;
}

input,
button {
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid #eee;
}

input:focus {
  box-shadow: 0 0 2px var(--primary-color);
}

footer p {
  text-align: center;
  color: #fff;
  margin: 10px auto;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
  align-items: center;
  width: fit-content;
  position: relative;
}

form input[type="email"] {
  padding: 20px 120px 20px 30px;
  /* width: 540px; */
  color: #aaa;
  border-radius: 25px;
}

form input[type="submit"] {
  background-color: var(--primary-color);
  color: #eee;
  cursor: pointer;
  position: absolute;
  border-radius: 25px;
  right: 10px;
  padding: 10px;
  box-shadow: 0 0 2px 4px #fcfcfc;
}

form input[type="submit"]:hover {
  opacity: 0.8;
}

form input[type="submit"]:active {
  opacity: 0.6;
}

form input[type="submit"]:disabled {
  background-color: #777;
  color: #aaa;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #555;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
  }

  a {
    color: #fff;
  }

  body {
    background: #111;
    color: #334;
  }

  header {
    background-color: #222;
    border-bottom: none;
  }

  .header nav a {
    box-shadow: 0 0 1px 1px blueviolet;
  }

  footer {
    background-color: #1f1f1f;
    color: #aaa;
  }

  .footer-middle {
    background-color: #222;
  }

  .footer-bottom {
    background-color: #222;
    border-top: 1px solid #000;
  }

  .gotop {
    box-shadow: 0 0 5px 2px #222;
  }
}
