@font-face {
  src: url(../assets/fonts/MontserratAlternates-Regular.ttf);
  font-family: mserrat_a_r;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Regular.otf);
  font-family: mserrat_r;
}

@font-face {
  src: url(../assets/fonts/ONEDAY.ttf);
  font-family: oday;
}

@font-face {
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: rbt;
}

@font-face {
  src: url(../assets/fonts/Roboto-Thin.ttf);
  font-family: rbt-thin;
}

:root {
  /* --primary-color: #ff1744; */
  --primary-color: #9f34c0;
  --primary-opac: #ff17455e;
  --body-color: #141414;
  --body-color: #0f0f0f;
  --primary-border: #444;
  --primary-black: #000;
  --radius-1: 2px;
  --main-font: rbt;
}

body {
  padding: 0;
  margin: 0;
  background: var(--body-color);
  overflow-x: hidden;
}

* {
  font-family: var(--main-font);
  font-size: 14px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 20px;
}

ul li i {
  margin-right: 20px;
  color: var(--primary-color);
}

.intro p {
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  border-radius: 5px;
  min-height: 100px;
  text-shadow: 0 0 2px #000;
  /* background: #00000080; */
  height: 150px;
  overflow-y: hidden;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--primary-black);
}

/*  */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
/*  */

/* HEADER */

header {
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #111;
}

.header * {
  z-index: 10;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.logo .icon-container {
  padding: 2px;
}

.logo a span {
  font-family: oday;
  color: var(--primary-color);
}

.logo .me {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.me span {
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  font-size: 24px;
}

.me span:nth-child(2) {
  font-weight: normal;
  font-size: 14px;
}

.header nav a {
  margin: 10px 2px;
  padding: 5px 5px;
  background-color: #000000ab;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: #666;
}

.header nav a:nth-child(1) {
  border-bottom-color: var(--primary-color);
}

.header nav a i {
  margin-right: 5px;
}

.header nav a:hover {
  border-bottom-color: var(--primary-color);
  transition: 0.5s ease;
}

/* MAIN */
section {
  height: 100vh;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/always-grey.png);
}

section > 
.about,
.exp,
.fak {
  width: 60%;
  padding: 10px 0;
  margin: 20px auto;
  border-top: 1px solid var(--primary-color);
  position: relative;
}

section .title strong {
  position: absolute;
  top: -18px;
  left: -10px;
  background-color: var(--primary-color);
  color: #fafafa;
  font-size: 16px;
  border: 1px solid #222;
  padding: 5px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: rbt-thin;
}

.section-intro {
  background-color: #111;
  padding: 10px;
  margin: 0 auto;
  border: none;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
}
.intro {
  margin: auto;
  height: 100vh;
  color: #c0c0c0;
  border-radius: var(--radius-1);
  padding: 5px;
  animation: anmIntro 2s 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* background: url(../assets/img/intro.svg) no-repeat center center/contain; */
}

.intro * {
  z-index: 2;
  pointer-events: none;
  user-select: none;
}

.intro-left-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.intro-left {
  width: 700px;
}

@keyframes anmIntro {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.intro .greetings {
  color: #555;
  margin-bottom: 20px;
}

.intro .greetings strong {
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: rbt-thin;
  opacity: 0;
  animation: anmText 1s 2s ease-in forwards;
}

@keyframes anmText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro h1 {
  margin: 0;
  color: #666;
}

.intro .name h1 {
  display: none;
}

.do {
  color: #ddd;
  display: none;
}

.photo {
  margin: 10px auto;
  width: fit-content;
}

.intro .pic {
  padding: 12px 10px;
  outline: none;
  /* background: #00000099; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  background-image: url(../assets/img/Pictures_Private__20220321_153551.png);
  background-blend-mode: luminosity;
  border-radius: var(--radius-1);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  display: none;
}

.intro .arrow {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ab;
  z-index: 10;
}

.intro .arrow i {
  font-size: 16px;
  animation: anmArrow 3s infinite;
  color: var(--primary-color);
}

@keyframes anmArrow {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-3.5px);
  }
  100% {
    transform: translateY(0);
  }
}

#products {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
}

.product {
}

#products .product p.title {
  color: #fff;
  margin-left: 10px;
}

#products .product p.desc {
  color: #666;
}

/* About */
.about {
  display: flex;
  justify-content: space-between;
}

.about .profile-pic {
  width: 200px;
  height: 200px;
  border: 1px solid var(--primary-border);
  border-radius: var(--radius-1);
  /* background: #222; */
}

@keyframes lft {
  0% {
    transform: skewX(20deg);
  }
  50% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
.gotop {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 3;
  transition: 0.5s all ease;
  box-shadow: 0 0 4px 8px #111;
  transform: scale(0);
}

.gotop i {
  font-size: 16px;
}

/* FOOTER */

footer {
  background-image: url(../assets/img/always-grey.png);
}

footer .footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}

.footer .title strong {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -18px;
  font-size: 16px;
  margin: auto;
  background: var(--body-color);
  padding: 10px;
  width: 100px;
  text-align: center;
  color: var(--primary-border);
  display: none;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 340px;
  margin: 10px auto;
  padding: 10px;
  /* background-color: red; */
}

.footer .contact a {
  padding: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #888;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: #000;
  margin: 10px 10px;
}

.footer .contact i {
  font-size: 14px;
  color: var(--primary-color);
}

footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom p {
  color: #444;
}

#text-subscribe {
  text-align: center;
  color: #8888;
  font-family: rbt-thin;
  font-size: 18px;
  text-transform: auto;
  display: block;
  margin-top: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  /* HEADER */

  .header {
    flex-direction: column;
  }

  .header nav {
    margin-top: 10px;
    display: none;
  }

  .header nav a {
    border: none;
  }

  .header nav a:hover {
    border-bottom-color: #f9f9f9;
    transition: 0.5s ease;
  }

  .header nav a i {
    display: none;
  }

  .section-intro {
    background-position-y: 20px;
  }

  .intro,
  .about,
  /* .exp, */
  .fak {
    width: 100%;
  }

  #section-about, #section-products {
    height: unset;
  }

  .intro {
    background: none;
  }

  .intro .name h1 {
    font-size: 32px;
  }

  .intro h1 {
    font-size: 18px;
  }

  section:nth-child(even),
  section:nth-child(odd) {
    padding: 10px;
    background-size: 300px;
    /* background-position-y: 40%; */
  }

  .contact {
    /* flex-direction: column; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .about {
    flex-direction: column;
  }

  .contact-btn {
    width: fit-content;
  }
}

button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 5;
}

button:hover {
  background: #000;
  color: var(--primary-color);
}

button i {
  font-size: 12px;
}

/* General */
button {
  cursor: pointer;
}

input,
button {
  outline: none;
  border: none;
}

footer p {
  text-align: center;
  color: #fff;
  margin: 10px auto;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 20px;
}

form input[type="email"] {
  padding: 10px;
  width: 540px;
  background-color: #222;
  color: #aaa;
  /* border-bottom-left-radius:2px;
  border-top-left-radius: 2px; */
}

form input[type="submit"] {
  background-color: var(--primary-color);
  color: #eee;
  cursor: pointer;
  /* border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; */
}

form input[type="submit"]:hover {
  opacity: .8;
}

form input[type="submit"]:active {
  opacity: .6;
}

form input[type="submit"]:disabled {
  background-color: #777;
  color: #aaa;
}
