.shadow-dance-text {
  color: red;
  font-size: 4rem;
  color: #fff;
  text-shadow: 10px 10px 0 #00d4ff;
  animation: shadow-dance 7s s infinite;
}

@keyframes shadow-dance {
  0%,
  100% {
    text-shadow: 10px 10px 0 #00d4ff;
  }
  50% {
    text-shadow:  -10px -10px 0 #ff005e;
  }
}

.masked-text {
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* background-size: 300% auto; Mais largura para fluidez contínua */
    /* background-repeat: repeat-x; */
    background-size: contain; /* ou um valor grande tipo 200% auto */
    background-position: 100% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 10s alternate-reverse infinite;
}

@keyframes animate-background {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
