:root {
  --primary-color: #003366;
  --main-font: arial;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

* {
  font-family: var(--main-font);
}

input,
button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

header {
  height: 70px;
  display: none;
}

main {
  height: calc(100vh - 102px + 20px);
  overflow-y: scroll;
  position: relative;
  padding: 10px;
  background: url(../../assets/img/robot.svg) no-repeat center center/contain;
}

#chat {
  width: 60%;
  margin: auto;
}

.me {
  display: flex;
  justify-content: flex-start;
}

.bot {
  display: flex;
  justify-content: flex-end;
}

form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

form input {
  padding: 25px 120px 25px 30px;
  width: 100%;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: large;
}

form input:focus {
  border-color: var(--primary-color);
}

form button[type="submit"] {
  background-color: var(--primary-color);
  color: #eee;
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  right: 10px;
  padding: 15px;
  box-shadow: 0 0 2px 4px #fcfcfc;
}

form button[type="submit"]:hover {
  opacity: 0.8;
}

form button[type="submit"]:active {
  opacity: 0.6;
}

form button[type="submit"]:disabled {
  background-color: #777;
  color: #aaa;
}

/* Footer */
footer {
  background-color: #fcfcfc;
  height: 60px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eee;
}

.footer-bottom a {
  color: #444;
  display: flex;
  align-items: center;
}

.footer-bottom a img {
  margin-right: 10px;
}

/* Theme */
/* Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #555;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
  }

  body {
    background: #333;
    color: #aaa;
  }

  header {
    background-color: #222;
    border-bottom: none;
  }

  form input {
    background-color: #444;
    color: #222;
    border-color: #333;
  }

  form button[type="submit"] {
    color: #eee;
    box-shadow: 0 0 2px 4px #444;
  }

  main {
    background-image: url(../../assets/img/robot-dark.svg);
    background-blend-mode: darken;
  }

  footer {
    background-color: #1f1f1f;
    color: #aaa;
  }

  .footer-bottom {
    border-top-color: #222;
  }
}
